*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
    padding:0;
    min-height: 0;
}
h1,body{
	font-family:"Roboto",sans-serif;
	font-weight:100;
}
h1{
	font-size: 2.5em;
}
p{
	font-size: 1.4em;
}
header {
	background-color:#33ffcc;
	text-align: center;
	
	padding:20px;
	
}
@media screen and (min-width:760px){
	.main img{
		position:relative;
		left:200px;
	}
	#message{
		float:right;
		text-align: center;
		padding:20px;
		top:30px;
		position:relative;
		right:140px;
	}
		
}
header img{
	width:300px;
}
.wrapper{
	width:100%;
	height:auto;
	background-color: #cccccc;
}
.main img{
	width:400px;
	text-align: center;
	
	margin-top: 60px;
}

.main #message{
	text-align: center;
	margin:20px;

}
.btn{
	background-color:#fff;
	padding:15px;
	width:60%;
	display:block;
	border-radius: 7px;
	text-align: center;
	font-size: 1.7em;
	text-decoration: none;
	left:20px;
	margin:40px 0 0px 40px;
	position:relative;
	bottom:20px;
	color:#666;
	-moz-border-radius:7px;
}