*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
    padding:0;
    min-height: 0;
}
h1,h2,body{
	font-family:"Roboto",sans-serif;
	font-weight:100;
}
h1{
	font-size: 2.5em;
}
p{
	font-size: 1.4em;
}
header {
	width:auto;
	padding:20px;
	background-color:#33ffcc;
	text-align: center;


	
}

@media screen and (min-width:760px){
	.cloud{
		float:left;
		width:50%;
		margin-top:3em;
		margin-left: 3em;
		position:relative;
		top:6em;
	}
	.article{
		float:right;
		right:10em;
		top:11em;
		position:relative;
		margin-top:80px;
		margin:20px;		
	}
	.column4{
		margin-top: 30px;
		position:relative;
		left:80px;
	}
	.column7{
		position: relative;
		left:190px;

	}
	.map{
		width:100%;
		position:relative;
		left:110px;
		top:50px;
	}
	
	#location{
		position: absolute;
		top:290px;
		right:290px;
	}
	#servers{
		position:relative;
		top:-40px;
	}

}
header img{
	width:300px;
}
.article{
	text-align: center;
	padding:20px;
}

.main{
	height:700px;
	text-align: center;
	background-color:#cccccc;
}
.wrapper{
	width:100%;
	height:auto;
	
}
.cloud{

	text-align: center;
}
.cloud img{
	margin-top: 50px;
	width:350px;
	
}

.btn{
	background-color:#fff;
	padding:15px;
	width:60%;
	display:block;
	border-radius: 7px;
	text-align: center;
	font-size: 1.7em;
	text-decoration: none;
	left:10px;
	margin:40px 0 0px 60px;
	position:relative;
	bottom:20px;
	color:#666;
	-moz-border-radius:7px;
}

.testimony{
	background-color: #887975;
}
p.author{
	text-align: center;
	font-size:1.2em;
	padding:20px;
	color:#fff;
}
#control{
	margin-top:80px;
	min-height: 400px;
}
#control h2{
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 15px;
}
#control p{
	font-size: 1.2em;

}
.column7{
	position:relative;
	top:50px;
}
.anim{
	position:absolute;

}
#desktop{
	width:300px;
}
#phone{
	width:100px;
	margin: 50px 0 0px 20px;
}
.green{
	background-color:rgb(122, 225, 191);
	min-height: 275px;
	margin-top: 90px;
}
.icon{
	text-align: center;
	
}
.icon img {
	height:0;width:0;
	-webkit-transition: width height 1s ease;
	-moz-transition: width height 1s ease;
	transition: width height 1s ease;
}
.icon span{
	opacity:0;
}
.icon span{
	display: block;
	font-weight:100;
	text-align: center;
	font-size: 1.6em;
}
.bottom h2{
	font-size: 2.2em;
	color:#fff;
}
#servers{
	margin-top:20px;
}
.bottom{
	min-height: 500px;
	background-color: #dcdcdc;
}
.bottom p{
	font-size: 1.4em;
	color:#fff;
}
.stripes{
	display: inline;
	float:left;
	width:10%;
	height:0;
}
#s1{
	background-color: #cccccc;
}
#s2{
	background-color: #b3b3b3;
}
#s3{
	background-color: #999999;
}
#s4{
	background-color: #c0c0c0;
}
#s5{
	background-color: #808080;
}
#s6{
	background-color: #d4d4d4;
}
#s7{
	background-color: #c7c7c7;
}
#s8{
	background-color: #bbbbbb;
}
#s9{
	background-color: #aeaeae;
}
#s10{
	background-color: #dcdcdc;
}

.map , #world{
	position:absolute;
}
#radial,#world{
	position:absolute;
	top:30px;
	left:20px;
	-webkit-animation-name:rotateRadial;
	-webkit-animation-duration:10s;
	-webkit-animation-timing-function:linear;

	animation-name:rotateRadial;
	animation-duration:10s;
	animation-timing-function:linear;
}
@-webkit-keyframes rotateRadial{
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
	}
}
@keyframes rotateRadial{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}


#servers,#offer{
	position:relative;
	top:-220px;
	margin:0;
	opacity: 0;

}
@-webkit-keyframes fadeIn { from { opacity:0; } to {opacity: 1;} }
@-moz-keyframes fadeIn { from { opacity:0; } to {opacity: 1;} }
@keyframes fadeIn { from { opacity:0; } to {opacity: 1;} }

.anim{
	opacity:0;
}
.animate,.animate-down{
	-moz-transition: 2s ease-in;
	-webkit-transition: 2s ease-in;
	transition: 2s ease-in;
/* use fadeIn animation defined, timing function: ease-in and repeat only 1 time*/
	-moz-animation: fadeIn ease-in 1;
	-webkit-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
/*make sure that animation remains at the last keyframe: opacity: 1 when its complete */
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;	
	animation-duration: 1s;
}
.animate-down{
	-webkit-transform:.5s ease-in-out;
	-moz-transform:.5s ease-in-out;
	transform:.5s ease-in-out;
	height:500px;
}
#phone.animate {
	-webkit-transform: translate(14em,0);
	-moz-transform: translate(14em,0);
	transform: translate(14em,0);
}

#desktop.animate {
	-webkit-transform: translate(3em,0);
	-moz-transform: translate(3em,0);
	transform: translate(3em,0);
}

.icon img.grow-img {
	height:191px;
	width:191px;
}
