*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
    padding:0;
    min-height: 0;
}
h1,h2,body{
	font-family:"Roboto",sans-serif;
	font-weight:100;
}
h1{
	font-size: 2.5em;
}
p{
	font-size: 1.4em;
}
header {
	width:auto;
	padding:20px;
	background-color:#33ffcc;
	text-align: center;


	
}

@media screen and (min-width:760px){
	.cloud{
		float:left;
		width:50%;
		margin-top:3em;
		margin-left: 3em;
		position:relative;
		top:6em;
	}
	.article{
		float:right;
		right:10em;
		top:11em;
		position:relative;
		margin-top:80px;
		margin:20px;		
	}
	.column4{
		margin-top: 30px;
		position:relative;
		left:80px;
	}
	.column7{
		position: relative;
		left:190px;

	}
	.map{
		width:100%;
		position:relative;
		left:110px;
		top:50px;
	}
	
	#location{
		position: absolute;
		top:290px;
		right:290px;
	}
	#servers{
		position:relative;
		top:-40px;
	}

}
header img{
	width:300px;
}
.article{
	text-align: center;
	padding:20px;
}

.main{
	height:700px;
	text-align: center;
	background-color:#cccccc;
}
.wrapper{
	width:100%;
	height:auto;
	
}
.cloud{

	text-align: center;
}
.cloud img{
	margin-top: 50px;
	width:350px;
	
}

.btn{
	background-color:#fff;
	padding:15px;
	width:60%;
	display:block;
	border-radius: 7px;
	text-align: center;
	font-size: 1.7em;
	text-decoration: none;
	left:10px;
	margin:40px 0 0px 60px;
	position:relative;
	bottom:20px;
	color:#666;
	-moz-border-radius:7px;
}

.testimony{
	background-color: #887975;
}
p.author{
	text-align: center;
	font-size:1.2em;
	padding:20px;
	color:#fff;
}
#control{
	margin-top:80px;
	min-height: 400px;
}
#control h2{
	font-size: 1.5em;
	margin-bottom: 15px;
}
#control p{
	font-size: 1.2em;

}
.column7{
	position:relative;
	top:50px;
}
.anim{
	position:absolute;

}
#desktop{
	width:300px;
}
#phone{
	width:100px;
	margin: 50px 0 0px 20px;
}
.green{
	background-color:rgb(122, 225, 191);
	min-height: 275px;
	margin-top: 90px;
}
.icon{
	text-align: center;
}
.icon span{
	display: block;
}
.bottom h2{
	font-size: 2.2em;
	color:#fff;
}
#servers{
	margin-top:20px;
}
.bottom{
	min-height: 500px;
	background-color: #dcdcdc;
}
.bottom p{
	font-size: 1.4em;
	color:#fff;
}
.stripes{
	display: inline;
	float:left;
	width:10%;
	height:500px;
}
#s1{
	background-color: #cccccc;
}
#s2{
	background-color: #b3b3b3;
}
#s3{
	background-color: #999999;
}
#s4{
	background-color: #c0c0c0;
}
#s5{
	background-color: #808080;
}
#s6{
	background-color: #d4d4d4;
}
#s7{
	background-color: #c7c7c7;
}
#s8{
	background-color: #bbbbbb;
}
#s9{
	background-color: #aeaeae;
}
#s10{
	background-color: #dcdcdc;
}

.map , #world{
	position:absolute;
}
#radial,#world{
	position:absolute;
	top:30px;
	left:20px;
}

#servers,#offer{
	position:relative;
	top:-220px;
	margin:0;
}
